@font-face {
  font-family: 'SegoeUI';
  src: url('/fonts/segoeuithis.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI';
  src: url('/fonts/segoeuithisi.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'SegoeUI';
  src: url('/fonts/segoeuithibd.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI';
  src: url('/fonts/segoeuithisz.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

body {
  background-color: #1f1f1f;
  color: #e2e0e0;
  font-family: SegoeUI;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 760px;
  width: 100%;                /* So it shrinks on small screens */
  padding: 20px;
}

header {
  border-bottom: 2px solid #9b9a9a; /* or any color */
  padding-bottom: 8px; /* optional, for spacing */
  padding-top: 8px;
  margin-bottom: 10px;
}

.header-link {
  text-decoration: none; /* no underline */
  color:#e2e0e0;
  border: none;
  margin: 0px 10px;
  border-radius: 2px;
  background-color: transparent;
}

.header-link:hover {
  text-decoration: underline;
}

.header-button {
  all: unset;
  background: none;
  border-radius: 2px;
  border-color: none;
  padding: 4px 6px;
}

.header-button:hover {
  background-color: #717171;   /* Darker blue on hover */
  cursor: pointer;
}

img {
  width: 100%;
}

.postTitleBlock {
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 16px;
}

.postTitle {
  margin: 2px 0px;
  text-decoration: none; /* no underline */
  color:#e2e0e0;
  background-color: transparent;
}

.postTitle:hover {
  text-decoration: underline;
}

.postDate {
  margin: 2px 0px;
  font-size: 14px;
}


.postYear {
  font-size: 20px;
  margin: 0px;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nameLinkH2 {
  margin: 0px;
}

.nameLink {
  text-decoration: none;
  color:rgb(0, 220, 0);
}

.nameLink:hover {
  text-decoration: underline;
}

.categoryBlock {
  margin-top: 30px;
}

.nav {
  align-items: center;
}

.githubLink {
  width: 25px;
  margin-bottom: -5px;
  margin-left: 25px;
}

.mainContainer {
  display: flex;
  width: 100%;
  margin-top: 30px;
}

.heropicContainer {
  flex: 4; /* 1 part out of total 3 */
}

.heropicContainer img {
  width: 100%;
  height: auto;
  display: block;
}

.mainText {
  flex: 5; /* 2 parts out of total 3 */
  padding: 0 16px;
}

code {
  width: 100%;
}